<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<queries>
  <package android:name="com.linkedin.android" />
  <package android:name="com.twitter.android" />
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            
            <data android:scheme="https"/>
        </intent>
</queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation|smallestScreenSize|uiMode"
        android:windowSoftInputMode="adjustNothing"
        android:taskAffinity=""
        android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data
            android:mimeType="application/json"
            android:host="*"
            android:pathPattern=".*\\.json"/>
          <data 
            android:mimeType="application/octet-stream"
            android:host="*"
            android:pathPattern=".*\\.corpad"/>
          <data 
            android:mimeType="application/zip"
            android:host="*"
            android:pathPattern=".*\\.corpad"/>
        </intent-filter>
        <intent-filter >
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme ="com.corpad" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.nfc.action.NDEF_DISCOVERED" />
          <category android:name="android.intent.category.DEFAULT" />
          <data android:scheme="com.corpad" />
        </intent-filter>
      </activity>
      <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="${API_KEY}"/>
    </application>
</manifest>
